{% extends "base.html" %}
{% load i18n %}

{% block body %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="panel panel-danger text-right pull-right">
                    <div class="panel-heading">Zaloguj się</div>
                    <div class="panel-body">

                        <form method="post" action=".">
                            {% csrf_token %}
                          <div class="form-group">
                            <label for="exampleInputEmail1">Login</label>
                            <input type="text" class="form-control" id="login-username" placeholder="Użytkownik" name="username">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Hasło</label>
                            <input type="password" class="form-control" id="login-password" placeholder="Hasło" name="password">
                          </div>
                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <p> </p>
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook">
                            <span class="fa fa-facebook"></span> Logowanie za pomocą Facebook'a
                        </a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-block btn-social btn-google">
                            <span class="fa fa-google"></span> Logowanie za pomocą Google'a
                        </a>
                        <a href="{% url 'social:begin' 'dropbox-oauth2' %}" class="btn btn-block btn-social btn-dropbox">
                            <span class="fa fa-dropbox"></span> Logowanie za pomocą Dropbox'a
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



{#{% block content %}#}
{#<form method="post" action=".">#}
{#  {% csrf_token %} #}
{#  {{ form.as_p }}#}
{##}
{#  <input type="submit" value="{% trans 'Log in' %}" />#}
{#  <input type="hidden" name="next" value="{{ next }}" />#}
{#</form>#}



{#<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>#}
{#<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>#}
{#{% endblock %}#}
