{% extends "base.html" %}
{% load i18n %}

{% block body %}

    <span class="h1">Masz {{ books_count }} {{ plural }} w swoim sklepie</span>
    <p/>

{#        <table border="1">#}
{#            <tr>#}
{#                <th>Title</th>#}
{#                <th>Author</th>#}
{#                <th>Description</th>#}
{#                <th>Price</th>#}
{#                <th>Stock</th>#}
{#                <th>Year</th>#}
{#            </tr>#}
{#            {% for item in query_results %}#}
{#            <tr>#}
{#                <td>{{ item.title }}</td>#}
{#                <td>{{ item.author }}</td>#}
{#                <td>{{ item.description }}</td>#}
{#                <td>{{ item.price }}</td>#}
{#                <td>{{ item.stock }}</td>#}
{#                <td>{{ item.year }}</td>#}
{#            </tr>#}
{#            {% endfor %}#}
{#        </table>#}


    <div class = "row">
    {% for item in query_results %}
        <div class = "col-sm-6 col-md-4">
          <div class = "thumbnail">
             <span class="h1">{{ item.title }}</span>
          </div>

          <div class = "caption">
             <h3>{{ item.author }}</h3>
             <p>Opis: {{ item.description }}</p>
              <p>Cena: {{ item.price }}</p>
              <p>Ilość w magazynie: {{ item.stock }}</p>
              <p>Rok wydania: {{ item.year }}</p>


             <p>
                <a href = "#" class = "btn btn-primary" role = "button">
                   Button
                </a>

                <span class = "btn btn-default">
                   Button
                </span>
             </p>
          </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}